.mainComp {
    border: 1px solid #555;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.mainBody {
    background-color: bisque;
    flex:1;
    flex-direction: row;
    display: flex;

}

.tableItemData {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #aaa;
    padding-top: 5px;
}
